<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Changelogs</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="aqua/favicon.png" rel="icon" />
    <link href="aqua/favicon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet" type="text/css" />

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet" />
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet" />
</head>

<body>
    <!-- ======= Mobile nav toggle button ======= -->
    <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

    <h2 id="v4-2-december-release-20231229-">=> v4.2 [ December-Release | 20231229 ]</h2>
    <ul class="myList">
        <li>Enabled FS-Verity.</li>
        <li>Dropped <code>Mi Calculator</code>.</li>
        <li>Disabled Dex &amp; ART debugging.</li>
        <li>Fixed UUIDs for AOSP audio pre-processing effects.</li>
        <li>Updated dozeComponent behaviour.</li>
        <li>Updated display color compositions.</li>
        <li>Updated to <code>2023-12-05</code> Security patch.</li>
        <li>Updated to latest <code>LMODroid</code> sources.</li>
        <li>Minor system optimizations.</li>
    </ul>
    <h2 id="v4-2-hotfix-ota-20231213-">=> v4.2 [ HotFix-OTA | 20231213 ]</h2>
    <ul class="myList">
        <li>Bug <code>Mi Calculator</code> not shown due to missing v2 signature scheme.</li>
        <li>Added custom <code>LMKD</code> for better RAM management.</li>
        <li>Updated to latest <code>LMODroid</code> sources.</li>
    </ul>
    <h2 id="v4-2-recommended-20231211-">=> v4.2 [ Recommended | 20231211 ]</h2>
    <ul class="myList">
        <li>Added <code>Moto Clock</code>.</li>
        <li>Added <code>Moto Calendar</code>.</li>
        <li>Added <code>Mi Calculator</code>.</li>
        <li>Adapt brightness scaling behaviour.</li>
        <li>Included <code>BlackSapphire</code> kernel <code>Sapphire-4.14.332</code> base.</li>
        <li>Rebased the <code>DeviceTree</code> specifically for <code>LMODroid</code>.</li>
        <li>Updated to latest <code>LMODroid</code> sources.</li>
        <li>Minor system optimizations.</li>
    </ul>
    <h2 id="v4-2-november-release-">=> v4.2 [ November Release ]</h2>
    <ul class="myList">
        <li>Updated to latest <code>2023-11-01</code> Security patch.</li>
        <li>Added patch script for KernelSU implementation. </li>
        <li>Minor system optimizations.</li>
    </ul>
    <h2 id="v4-2-recommended-20231111-">=> v4.2 [ Recommended | 20231111 ]</h2>
    <ul class="myList">
        <li>Build with <code>BlackSapphire</code> kernel <code>4.14.329</code> clang <code>17.0.2</code>.</li>
        <li>Added <code>Moto Widgets</code>.</li>
        <li>Enabled <code>auto-power-save</code> modes.</li>
        <li>Addressed <code>sepolicy</code> init denial.</li>
        <li>Updated <code>dexpreopt</code> configuration.</li>
        <li>Updated <code>paddings</code> from <code>veux</code>.</li>
        <li>Updated to latest <code>LMODroid</code> sources.</li>
    </ul>
    <h2 id="v4-2-recommended-20231031-">=> v4.2 [ Recommended | 20231031 ]</h2>
    <ul class="myList">
        <li>Build with latest <code>Sapphire</code> kernel.</li>
        <li>Updated to latest LMODroid sources.</li>
        <li>Improvements of <code>RRO_OVERLAYS</code> for Updater App.</li>
        <li>Use output view for <code>changelog.md</code> instead of raw file.</li>
    </ul>
    <h2 id="v4-2-optional-20231029-">=> v4.2 [ Optional | 20231029 ]</h2>
    <ul class="myList">
        <li>Updated to latest LMODroid sources.</li>
        <li>Implementation of <code>RRO_OVERLAYS</code> for Updater App.</li>
        <li>Switched to <code>.MD</code> for changelogs instead of plain <code>.TXT</code> file.</li>
    </ul>
    <h2 id="v4-2-october-release-">=> v4.2 [October Release]</h2>
    <ul class="myList">
        <li>Switched to <code>Sapphire</code> Kernel <code>4.14.327</code> clang 17.</li>
        <li>Merged <code>October</code> Security Patch.</li>
        <li>Added unofficial <code>OTA</code> support.</li>
    </ul>
    <h2 id="v4-2-september-release-">=> v4.2 [September Release]</h2>
    <ul> class="myList"
        <li>Switched to Firmware 12.5.8 CN vendor base.</li>
        <li>Increased Media volume steps.</li>
        <li>Adjusted brightness to stock miui.</li>
        <li>Merged September Security Patch.</li>
        <li>Upstreamed kernel 4.14.326 clang 17.</li>
    </ul>
    <h2 id="v4-2-hotfix-">=> v4.2 [HotFix]</h2>
    <ul class="myList">
        <li>Added smoother volume steps for the earpiece.</li>
        <li>Added Viper4fx.</li>
        <li>Added Lineage Health Hal.</li>
        <li>Fixed battery usage info bug.</li>
        <li>Enabled faster speed for 2.4G WiFi Network.</li>
        <li>Upstreamed kernel 4.14.325 clang 17.</li>
        <li>Used Private Trees.</li>
    </ul>
    <h2 id="v4-2-stable-">=> v4.2 [Stable]</h2>
    <ul class="myList">
        <li>Initial release</li>
        <li>August 2023 Patch</li>
        <li>Upstreamed kernel.</li>
        <li>Balanced kernel perfs for better BB.</li>
        <li>Fixed Brightness.</li>
        <li>Fixed audio related to bluetooth.</li>
        <li>Fixed video playback issues caused by codecs.</li>
        <li>Fixed lockscreen notification issue.</li>
        <li>Added Netflix goodies.</li>
        <li>Added missing MTK related sockets.</li>
        <li>Added USB related props.</li>
        <li>Disabled USB debugging (was enabled by default).</li>
        <li>Added Google Camera MGC 8.1</li>
        <li>Enabled 4G+ / LTE+ (Force CA).</li>
        <li>Enabled Natural and Boosted display colours.</li>
        <li>Enabled HAC.</li>
        <li>Enabled Pocket Mode.</li>
        <li>Enhanced WIFI network.</li>
        <li>Improved DOZE behaviour.</li>
        <li>Front camera is marked as protected.</li>
    </ul>
    <!-- ======= Header ======= -->
    {% include headnav.html %}
    <!-- End Header -->

    <!-- Vendor JS Files -->
    <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/typed.js/typed.umd.js"></script>
    <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>
</body>

</html>