<header id="header">
<div class="d-flex flex-column">
    <div class="profile">
      <img
        src="assets/img/profile.jpg"
        alt=""
        class="img-fluid rounded-circle"
      />
      <h1 class="text-light"><a href="index.html">Burhan</a></h1>
      <div class="social-links mt-3 text-center">
        <a href="https://instagram.com/burhanverse" class="instagram"
          ><i class="bx bxl-instagram"></i
        ></a>
        <a href="https://t.me/burhanverse" class="telegram"
          ><i class="bx bxl-telegram"></i
        ></a>
        <a href="https://github.com/Burhanverse" class="github"
          ><i class="bx bxl-github"></i
        ></a>
      </div>
    </div>

    <nav id="navbar" class="nav-menu navbar">
      <ul>
        <li>
          <a href="index.html" class="nav-link scrollto"
            ><i class="bx bx-home"></i> <span>Home</span></a
          >
        </li>
        <li>
          <a href="aqua/aquaai.html" class="nav-link scrollto"
            ><i class="bx bx-bot"></i> <span>Aqua AI</span></a
          >
        </li>
        <li>
          <a href="https://t.me/AkuaMods/" class="nav-link scrollto"
            ><i class="bx bx-package"></i> <span>AquaMods</span></a
          >
        </li>
        <li>
          <a href="https://github.com/Burhanverse/Releases" class="nav-link scrollto"
            ><i class="bx bx-file-blank"></i> <span>Releases</span></a
          >
        </li>
      </ul>
    </nav>
    <!-- .nav-menu -->
  </div>
</header>
